#folder
train/checkpoint/*

train/figures

train/logs

train/cam_main.py

train/grad_cam.py

train/main_ensemble.py

train/models/custom.py

train/samples

train/results

train/*ipynb

train/txt

Sample_img

train/*png

tools

*.txt

lib/__pycache__

train/__pycache__

train/models/__pycache__

utils/__pycache__